.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: map-get($spacers, 8);
    border-bottom: 1px solid transparent;

    .navItem {
        color: $light;
    }

    .navItem a {
        color: $light;

        &:hover {
            border-bottom: 1px solid $white;
        }
    }
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: map-get($spacers, 5);
    padding-top: map-get($spacers, 9);
    padding-bottom: map-get($spacers, 9);

    .bannerText {
        color: $white;
        display: flex;
        flex-direction: column;
    }

    .bannerTextAside {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h3 {
            font-size: map-get($font-size, 5);
            color: $primary;
        }
    }
}