.btn {
    border: none;
    border-radius: map-get($spacers, 5);
    padding-top: map-get($spacers, 2);
    padding-bottom: map-get($spacers, 2);
    padding-left: map-get($spacers, 5);
    padding-right: map-get($spacers, 5);

    img {
        padding-left: map-get($spacers, 1);
    }

    &:hover {
        background-color: $light;
        transition: .5s;
    }
}