@import "./base/reset";
@import "./base/fontStyle";
@import "./utils/variables";
@import "./base/base";
@import "./layout/header";
@import "./layout/footer";
@import "./components/container";
@import "./components/bg-black";
@import "./components/bg-cover";
@import "./components/btn";
@import "./components/btnWhite";
@import "./components/btnBlack";
@import "./pages/index";