*, *::before, *::after {
    box-sizing:border-box;
}

body {
    line-height: 1.5;
    font-family: $font-family-body;
}

a {
    text-decoration: none;
    display: block;
    font-family: $font-family-body;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h2 {
    font-size: map-get($font-size, 4);
}